<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="./styles.css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i" rel="stylesheet">
    <script src="./script.js"></script>
</head>

<body>
    <header></header>
    <main>
        <div class="meta-data">
            <input type="hidden" id="id" name="id" value="?">
            <h2 class="title">Title: <span id="title">{{ post.title }}</span></h2>
            <div class="tags">
                <p>Tickers: <span id="ticker_list">{{ post.ticker_list }}</span></p>
                <p>Subreddit: <span id="subreddit_display_name">{{ post.subreddit_display_name }}</span></p>
                <p>u/<span id="author_name">Author: {{ post.author_name }}</span></p>
                <p>Link: <a href={{ post.url }} target="_blank" id="url">{{ post.url }}</a></p>
            </div>
        </div>
        <div class="content">
            <p id="text">{{ post.text|safe }}</p>
        </div>
        <div class="evaluator">
            <div>
                <button class="bullish" onclick="process_evaluation(1)">Bullish</button>
                <button class="neutral" onclick="process_evaluation(0)">Neutral</button>
                <button class="bearish" onclick="process_evaluation(-1)">Bearish</button>
            </div>
        </div>
    </main>
</body>

</html>