<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Homepage</title>
    <link rel="stylesheet" href="./styles.css" />
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,400,400i,700,700i" rel="stylesheet">
    <script src="./script.js"></script>
</head>

<body>
    <header></header>
    <main>
        {%for post in min %}
        <h4>{{loop.index}}.{{ post['title'] }}</h4>
        <p id="text">{{ post['text']|safe }}</p>
        {%endfor%}
    </main>
</body>

</html>